extends layout

block content
  main.home
    //h1 #{title}
    section.bg-fourth-color
      article.flex.gap-30
        div 
          div 
            img(src="https://fakeimg.pl/250x250/")
        div
          h1 Planty, votre jardinière connectée 
          p Home is behind, the world ahead and there are many paths to tread through shadows to the edge.
          a(href="/product").btn Purchase Now

    section
      h2 Nom du produit
      article 
        div 
          img(src="https://fakeimg.pl/250x250/")
        div 
          h3 It's easy to use our Wireframe & UI Kit.
          p It's dangerous business, Frodo, going out your door. You step onto the road Where the Shadows lie.
          a(href="/product").btn Purchase Now