doctype html
html
  head
    title= title
    link(rel="stylesheet", href=`${stylesheet}`)
    script(src="https://cdn.jsdelivr.net/npm/chart.js")

  body
    header
      nav 
        .logo-container 
          .img-container
            a(href="/")
              img(src='./images/logo.png')
        ul.navitems-container 
          li 
            .navitem 
              a(href='/') Home
          li 
            .navitem
              a(href='/product') Produit
          li 
            .navitem
              a(href='/data') Data
          li 
            button.btn.signin Sign in

    main
      block content

    footer
      section.contact
        h2 hehelekjlj 
        p jpkfezjpfezjpzjp pojzpdjzpo jplzk
        .flex 
          div.round
          div.round
          div.round
          div.round
      section.links
        h3 hehelekjlj 
        ul 
          li 
            a About 
          li 
            a Careers 
          li 
            a Blog 
          li 
            a Contact
      section.links
        h2 hehelekjlj 
        p jpkfezjpfezjpzjp pojzpdjzpo jplzk 
        div.round
      section.links
        h2 hehelekjlj 
        p jpkfezjpfezjpzjp pojzpdjzpo jplzk 
        div.round

    
    script(src='/javascripts/index.js', type='module')
