extends layout
h1 titre sam test
block content

  main.product 
    h1 #{title}
    section.product
      div.carousel 
      div.product-details
        h2.price 
        h2.product-name
        p.product-description
        input(type='radio', name='product-color', value='')


    section.team
      h2 Team 
      p Home is behind the world denkned ,nfekn e ,fenk n ek, nek,  ce,v , 
      article
        img(src='./images/logo.png')
        h3 
        p jdejdeodeokode kde,jk,efoekd,elkf,fk,kfe,kfe 
        .flex 
          img(src="https://fakeimg.pl/250x100/")
          img
      article
        img(src='./images/logo.png')
        h3 
        p jdejdeodeokode kde,jk,efoekd,elkf,fk,kfe,kfe 
        .flex 
          img(src="")
          img(src="")
      article
        img(src='./images/logo.png')
        h3 
        p jdejdeodeokode kde,jk,efoekd,elkf,fk,kfe,kfe 
        .flex 
          img(src="")
          img(src="")

    
