extends layout

block content

  main
    h1 #{title}
    nav(aria-label="breadcrumb")
      ol.breadcrumb
        li.breadcrumb-item
          a(href="index.html") Accueil
        li.breadcrumb-item.active  
          a(href="produit.html",aria-current="page") Produit
    
    section.product 
      .img 
        img(src="https://fakeimg.pl/300x300", alt="")
      article 
        h2 54.99 €
        h3 Long or short product name goes here 
        p Home is behind the world ahead and there are many paths to tread through shadows to the 
        
        input(type="radio" name="color" value="orange" id="orange") 
        label(for="orange") orange
        
        input(type="radio" name="color" value="pink"  id="pink")
        label(for="pink") pink
        
        input(type="radio" name="color" value="green"  id="green")
        label(for="green") green
        
        button.btn(type="button") Add to cart

    



  

    
