extends layout

block content

  main.p-x-4
    h1 #{title}
    nav(aria-label="breadcrumb")
      ol.breadcrumb
        li.breadcrumb-item
          a(href="/") Accueil
        li.breadcrumb-item.active  
          a(href="/product",aria-current="page") Produit
    
    section.product.p-y-4.mx-10
      .img 
        img(src="https://fakeimg.pl/300x300", alt="")
      article 
        h2 54.99 €
        h3 Long or short product name goes here 
        p Home is behind the world ahead and there are many paths to tread through shadows to the 
        
        input(type="radio" name="color" value="orange" id="orange") 
        label(for="orange" id="lab_orange") 
        
        input(type="radio" name="color" value="pink"  id="pink")
        label(for="pink" id="lab_pink") 
        
        input(type="radio" name="color" value="green"  id="green")
        label(for="green" id="lab_green") 
        
        button.d-flex.btn(type="button") Add to cart

    section.avis.p-y-2
      div.title
        h2.text-center  Avis 
        p.text-center  error maxime consectetur reiciendis nobis quae id fugit praesentium ipsa temporibus saepe.
      div.div-avis
        article.text-center
          img(src="./images/star-rate.png", alt="")
          img(src="./images/star-rate.png", alt="")
          img(src="./images/star-rate.png", alt="")
          img(src="./images/star-rate.png", alt="")

          p Musicians,actors and influencers plan social media takeover to support
          p  #MarchForOurLives 
          p
            span  Bertam Jensen 
          p Author at Panoply Store
        article.text-center
          img(src="./images/star-rate.png", alt="")
          img(src="./images/star-rate.png", alt="")
          img(src="./images/star-rate.png", alt="")
          img(src="./images/star-rate.png", alt="")
      
          p Musicians,actors and influencers plan social media takeover to support
          p  #MarchForOurLives
          p
            span  Bertam Jensen 
          p Author at Panoply Store
        article.text-center 
          img(src="./images/star-rate.png", alt="")
          img(src="./images/star-rate.png", alt="")
          img(src="./images/star-rate.png", alt="")
          img(src="./images/star-rate.png", alt="")
          p Musicians,actors and influencers plan social media takeover to support
          p  #MarchForOurLives 
          p
            span  Bertam Jensen 
          p Author at Panoply Store  
      
      



    section.video.bg-secondary-color.p-y-2  
      h2 Video de présentation 
      div.div-video
        iframe(src="https://www.youtube.com/embed/K1KUny3pqLQ" title="Découvrez Lilo Connect de Prêt à Pousser: Le jardin d'intérieur connecté, compact et intuitif" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen)


    



  

    
