$primary-color: rgba(252,252,252);
$secondary-color: rgba(159, 196, 143);
$tertiary-color: rgba(253,230,240);
$fourth-color: rgba(255,245,210);
$fifth-color: rgba(255,157,51);
$sixth-color: rgba(30,32,30);
$text: rgba(30,32,30, 0.5);
$interactive-color: '';
$desktop-margin-layout: 5vw;
$mobile-margin-layout: 1%;
$font-size : 13px;

$space1: 1rem;
$space2: 2rem;
$space3: 3rem;
$br-5: 5px;
$br-10: 10px;