
// ----- global variables ------ 

$primary-color: rgba(252,252,252);
$secondary-color: rgba(159, 196, 143);
$tertiary-color: rgba(253,230,240);
$fourth-color: rgba(255,245,210);
$fifth-color: rgba(255,157,51);
$sixth-color: rgba(30,32,30);
$text: rgba(30,32,30, 0.5);
$interactive-color: '';
$desktop-margin-layout: 5vw;
$mobile-margin-layout: 1%;
$font-size : 13px;

$space1: 1rem;
$space2: 2rem;
$space3: 3rem;
$br-5: 5px;
$br-10: 10px;

// ------ layout -----
*, *::after, *::before {
  box-sizing: border-box;
}
body {
  margin: 0 $desktop-margin-layout;
  padding: $space1;
  background-color: $primary-color;
  color: $sixth-color;
  header {
    nav {
      display: flex;
      justify-content: space-between;
      align-items: center;
      border-radius: $br-5 $br-5;
      padding: 0px $space3;
      background-color: $secondary-color;
      ul {
        display: flex;
        gap: $space1;
        list-style: none;
        li {
          display: flex;
          align-items: center;
        }
      }
      .img-container {
        width: 60px;
        height: 60px;
        img {
          object-fit: contain;
          width: 100%;
        }
      }
    }
  }
  footer {
    display: flex;
    justify-content: space-between;
    padding: $space3;
    background-color: $secondary-color;
    border-radius: $br-5 $br-5;
    section {
      width: 15%;
      ul {
        list-style: none;
        padding: 0;
        
        li {
          margin: $space1 0;

          
        }
      }
    }
    .round {
      border-radius: 50%;
      width: 30px;
      height: 30px;
      background-color: red;
    }
  }
}
.flex {
  display: flex;
}
.btn {
  padding: 10px 42px;
  background-color: $fifth-color;
  color: $sixth-color;
  border: none;
  border-radius: $br-10;
  border: 1px solid transparent;
  &:hover {
    cursor: pointer;
    background-color: $primary-color;
    border: 1px solid $sixth-color;
    color: $sixth-color;
  }
}
a {
  text-decoration: none;
  color: $sixth-color;
}
p {
  color: $text;
}

.home {
  background-color: '';
}
.data {
  background-color: '';
}
.product {
  background-color: ''
}

