// ----- global variables ------
@import "globals";
// ------ layout -----
*,
*::after,
*::before {
    box-sizing: border-box;
}

body {
    //margin: 0 $desktop-margin-layout;
    padding: $space1;
    background-color: $primary-color;
    color: $sixth-color;
    header {
        nav {
            display: flex;
            justify-content: space-between;
            align-items: center;
            border-radius: $br-5 $br-5;
            padding: 0px $space3;
            background-color: $primary-color;
            ul {
                display: flex;
                gap: $space1;
                list-style: none;
                li {
                    display: flex;
                    align-items: center;
                }
            }
            .img-container {
                width: 60px;
                height: 60px;
                img {
                    object-fit: contain;
                    width: 100%;
                }
            }
        }
    }
    footer {
        display: flex;
        justify-content: space-around;
    }
    display: flex;
    justify-content: space-around;
}

.flex {
    display: flex;
    align-items: center;
    justify-content: center;
    &.gap-10 {
        gap: $space1;
    }
    &.gap-20 {
        gap: $space2;
        gap: $space1;
    }
    &.gap-20 {
        gap: $space2;
    }
    &.gap-30 {
        gap: $space3;
    }
    @media screen and (max-width: 680px) {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    @media screen and (min-width: 680px) and (max-width: 1250px) {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    @media screen and (min-width: 680px) and (max-width: 1250px) {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    @media screen and (min-width: 1250px) {}
}

.flex-column {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

// background colors
.bg-primary-color {
    background-color: $primary-color;
}

.bg-secondary-color {
    background-color: $secondary-color;
}

.bg-teriary-color {
    background-color: $tertiary-color;
}

.bg-fourth-color {
    background-color: $fourth-color;
}

.bg-fifth-color {
    background-color: $fifth-color;
}

.bg-sixth-color {
    background-color: $sixth-color;
}

.relative {
    position: relative;
}

.functionnalities article :nth-child(even) {
    flex-direction: row-reverse;
}

.btn {
    padding: 5px 42px;
    background-color: $fifth-color;
    color: $sixth-color;
    border: none;
    border-radius: $br-10;
    border: 1px solid transparent;
    box-shadow: -4px 6px 16px -3px rgba(0, 0, 0, 0.5);
    &:hover {
        cursor: pointer;
        background-color: $primary-color;
        border: 1px solid $sixth-color;
        color: $sixth-color;
        border: none;
        border-radius: $br-20;
        border: 1px solid transparent;
        box-shadow: -4px 6px 16px -3px rgba(0, 0, 0, 0.5);
    }
}

.btn2 {
    padding: 5px 42px;
    border: none;
    border-radius: $br-10;
    box-shadow: -4px 6px 16px -3px rgba(0, 0, 0, 0.5);
    cursor: pointer;
    background-color: $primary-color;
    border: 1px solid $sixth-color;
    color: $sixth-color;
}

a {
    text-decoration: none;
    color: $sixth-color;
}

p {
    color: $text;
}

.home {
    background-color: "";
}

.data {
    background-color: "";
}

.product {
    background-color: "";
}

.text-center {
    text-align: center;
}

.fat {
    font-weight: 900;
}

.round {
    border-radius: 50%;
    margin: 2px 2px;
}

.round-mid {
    border-radius: 30%;
}

.p-y-1 {
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.p-y-2 {
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.p-y-3 {
    padding-top: 3rem;
    padding-bottom: 3rem;
}

.p-y-4 {
    padding-top: 4rem;
    padding-bottom: 4rem;
}

.p-x-1 {
    padding-left: 1rem;
    padding-right: 1rem;
}

.p-x-2 {
    padding-left: 2rem;
    padding-right: 2rem;
}

.p-x-3 {
    padding-left: 3rem;
    padding-right: 3rem;
}

.p-x-4 {
    padding-left: 4rem;
    padding-right: 4rem;
}

.m-x-y-2 {
    margin: 2rem 2rem;
}

.m-x-10 {
    margin: 0 15px;
}

.py-2 {
    padding-top: 50rem;
    padding-bottom: 50rem;
}

.px-1 {
    padding-left: 5rem;
    padding-right: 5rem;
}

.px-2 {
    padding-left: 10rem;
    padding-right: 10rem;
}

.mxy-2 {
    margin: 2rem 2rem;
}

main {
    display: flex;
    flex-direction: column;
    &.center {
        align-items: center;
    }
}